In [61]:
import pandas as pd
df=pd.read_csv("user_score.csv")
len(df[(df["kokugo"]>df["kokugo"].mean()) & (df["shakai"]>df["shakai"].mean()) & (df["rika"]>df["rika"].mean()) & (df["sugaku"]>df["sugaku"].mean())])
#df[(df['kokugo'] > 50) & (df['rika'] > 50)]

46

In [98]:
import pandas as pd
df=pd.read_csv("user_score.csv")
def score_sum(df):
    df['sum']=df[(["kokugo","rika","sugaku","shakai"])].sum(axis=1)
    return df
score=score_sum(df)
score.head(5)

   user  kokugo  shakai  sugaku  rika  sum
0     2      30      43      51    63  187
1     3      39      21      49    56  165
2     4      29      30      23    57  139
3     5      95      87      77   100  359
4     6      70      71      78    67  286

In [101]:
import pandas as pd
df=pd.read_csv("user_score.csv")
def score_sum(df):
    df['sum']=df[(["kokugo","rika","sugaku","shakai"])].sum(axis=1)
    return df
df=score_sum(df)
def score_top3(df):
    df=df.sort_values(["sum"],ascending=False)
    return df.head(3)
score_top3(df)

    user  kokugo  shakai  sugaku  rika  sum
38    40      84      90      87   100  361
3      5      95      87      77   100  359
48    50      87      85      84    93  349

In [111]:
import pandas as pd
df=pd.read_csv("user_score.csv")
def score_sum(df):
    df['sum']=df[(["kokugo","rika","sugaku","shakai"])].sum(axis=1)
    return df
df=score_sum(df)
def score_hist(df):
    results=[]
    min = 0
    max = 50
    #for i in range(8):
    results.append(len(df[(df["sum"]>=0)& (df["sum"]<=50)]))
    results.append(len(df[(df["sum"]>=51)& (df["sum"]<=100)]))
    results.append(len(df[(df["sum"]>=101)& (df["sum"]<=150)]))
    results.append(len(df[(df["sum"]>=151)& (df["sum"]<=200)]))
    results.append(len(df[(df["sum"]>=201)& (df["sum"]<=250)]))
    results.append(len(df[(df["sum"]>=251)& (df["sum"]<=300)]))
    results.append(len(df[(df["sum"]>=301)& (df["sum"]<=350)]))
    results.append(len(df[(df["sum"]>=351)& (df["sum"]<=400)]))
       # min = max+1
       # max= max+50
    return results
score_hist(df)

[4, 19, 39, 35, 29, 24, 13, 2]

In [127]:
import pandas as pd
user_class = pd.read_csv('user_class.csv')
user_score = pd.read_csv('user_score.csv')
def score_sum(df):
    df['sum']=df[(["kokugo","rika","sugaku","shakai"])].sum(axis=1)
    return df
user_score=score_sum(user_score)
def score_by_class(df1,df2):
    new_df = pd.merge(df1, df2, on='user')
    return new_df.groupby("class")[["sum"]].max()
score_by_class(user_class,user_score).to_dict()

{'sum': {'A': 359, 'B': 361, 'C': 343}}